@model IEnumerable<PostTutorialNET.Models.Juego>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio) &euro;
            </td>
            <td>
                <a onclick="AlertDeleteJuego('@item.IdJuego')" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function AlertDeleteJuego(identificador) {
        Swal.fire({
            title: '¿Está seguro de que desea eliminar el juego?',
            text: "Esta acción no podrá revertirse",
            icon: 'error',
            buttons: true,
            showCancelButton: true,
            dangerMode: true
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/Home/DeleteJuego?idjuego=" + identificador,
                    success: function (r) {
                        window.location = "/Home/Index";
                    }
                });
            }

            return false;
        });
    }
</script>
